<h5>All Products </h5>

<p> you have visited this site <%= pluralize @visit_caunt, 'time'%>.</p>
  <% @products.each do |product|%>
   
      <%= product.product_type%>
      <% if product.image.present? %>
        <p><%= image_tag product.image%>
      <% end %>
      <%= product.price%><br><hr><br>
   
 <% end %>
